<ul ngbNav #nav="ngbNav" class="navbar navbar-dark bg-dark justify-content-between">
    <a routerLink="/home" class="navbar-brand">Bookstore</a>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <a *ngIf="this.login.getAuthenticated()" routerLink="/cart" style="padding-right: 20px;">Cart</a>

        <app-login></app-login>
        <div style="width: 20px;"></div>
        <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(searchForm.value)">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
    </div>
  </ul>
  <div [ngbNavOutlet]="nav"></div>